* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fx {
  display: flex;
}
.inner {
  padding: 2rem;
}
body {
  background: black;
}
header {
  width: 100vw;
  height: 100vh;
}
.slides {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.slides>div{
  display:flex;
  width:100%;
  height:100%;
}
.slides>div> div {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
}
.slide1 {
  background: url(../img/hic_img.jpg) no-repeat center top/cover;
}
.slide2 {
  background: url(../img/22.jpg) no-repeat center top/cover;
}
.slide3 {
  background: url(../img/313.jpg) no-repeat center top/cover;
}
.slide4 {
  background: url(../img/2023hic.jpg) no-repeat center top/cover;
}
header h1 {
  font-size: 20rem;
  font-weight: 650;
}
header h1:nth-of-type(1) {
  margin: 10rem 0 0 0;
}
header h1:nth-of-type(2) {
  color: #fff;
  margin: 0% 0 0 70rem;
}
.titlep {
  margin: 10rem 0 0 0;
  font-size: 2rem;
}
.titlep2 {
  margin: 5rem 0 0 70rem;
  font-size: 2rem;
}

main {
  width: 100vw;
}
.c1h {
  width: 100%;
  height: 39.1rem;
  padding: 10.5rem 4rem 10rem;
}
.c1h > h3 {
  display: inline-block;
  width: 184rem;
  height: 18.6rem;
  font-size: 5.2rem;
  letter-spacing: -0.26rem;
  line-height: 6.2rem;
}
.c1h .dot {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  border-radius: 50%;
  animation: dot 2.6s  cubic-bezier(0.42, 0, 0.39, 1)  infinite
    alternate running;
  transform-origin: 50% 50%;
}
@keyframes dot {
  0% {
    width: 3.2rem;
    height: 3.2rem;
  }
  50% {
    width: 2.5rem;
    height: 2.5rem;
  }
  100% {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.content1 {
  width: 100%;
  height: 91.83rem;
}
.content1 > .fx {
  width: 100%;
  height: 100%;
}
.content1 > .fx > div {
  position: relative;
  width: 25%;
  height: 100%;
  border: 0.1rem solid white;
  overflow: hidden;
  padding: 4.7rem 4.8rem 4.3rem 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content1 > .fx > div > img {
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: -1;
  opacity: 0;
  transition: all 1s;
}
.content1 > .fx > div:hover > img {
  opacity: 1;
}
.content1 .web1 > p {
  margin-bottom: 2.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.content1 .web1 > h4 {
  margin: 2.5rem 0 1.4rem 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.9rem;
}
.content1 .web2 {
  width: 38.4rem;
  height: 8.4rem;
  bottom: 0;
}
.content1 .web2 p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin-bottom: 0.1rem;
}
/* content2 ------------------------------------------------------*/
.content2 {
  width: 100%;
  height: 137.788rem;
  padding: 15rem 4rem 0 4rem;
}
.content2 > .fx {
  width: 100%;
  column-gap: 5rem;
  row-gap: 13.3rem;
}
.content2 > .fx > div {
  width: 89.5rem;
  height: 54.7438rem;
  position: relative;
}
.content2 .inner21 {
  padding: 0 10rem 7rem 10rem;
}
.content2 .hyundai {
  top: 0%;
  left: 4rem;
  width: 62.66rem;
  height: 35.2462rem;
}
.content2 .ins {
  top: 0%;
  right: 4rem;
  width: 82.78rem;
  height: 46.4962rem;
}
.content2 .antian {
  bottom: 10%;
  left: 4rem;
  width: 82.78rem;
  height: 46.5648rem;
}
.content2 .seoul {
  bottom: 10%;
  right: 10%;
  width: 62.78rem;
  height: 35.3138rem;
}
.content2 img {
  width: 100%;
}
/* content3-------------------------------- */
.content3 {
  width: 100%;
  height: 32.447rem;
  margin: 14.3rem 0 15rem;
  padding: 0 4rem;
}
.content3 > .inner3 {
  width: 184rem;
  height: 100%;
  gap: 5.5rem;
}
.content3 > .inner3 > div {
  width: 43rem;
  height: 100%;
}
.content3 .c3d1 {
  width: 100%;
  height: 22.3rem;
}
.content3 img {
  width: 100%;
}
.content3 > .inner3 > div .c3d2 {
  width: 100%;
  height: 3.2rem;
  margin-top: 1.7rem;
}
.c3d2 h5 {
  font-family: Inter, sans-serif;
  font-size: 2.7rem;
}
.content3 > .inner3 > div .c3da {
  width: 100%;
  height: 2.3rem;
  margin-top: 1.1rem;
}
/* content4-------------------------------- */
.content4 {
  width: 100%;
  height: 82.561rem;
  border-top: 0.1rem solid white;
}
.inner4 {
  width: 100%;
  height: 100%;
}
.pinksquare {
  padding: 14.4rem 20.1594rem 12.4797rem 20.1594rem;
  border-right: 0.1rem solid white;
  width: 96rem;
  height: 82.461rem;
}
.pinksquare video {
  width: 55.5812rem;
  height: 55.5812rem;
}
.c4d2 {
  display: flex;
  flex-direction: column;
  width: 48.025rem;
  height: 100%;
  justify-content: space-between;
  border-right: 0.1rem solid white;
}
.c4d2 .digi {
  padding: 6rem 4rem 0;
  width: 100%;
  height: 20.66rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c4d2 .digi .p346 {
  width: 39.925rem;
  height: 6.6rem;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: -0.3rem;
  line-height: 6rem;
  text-align: left;
}
.c4d2 .digi .plus3digi {
  width: 24.3rem;
  height: 6.597rem;
}
.c4d2 .digi .plus3digi h6 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
  text-align: left;
}
.c4d2 .pape {
  width: 100%;
  height: 33.4797rem;
  overflow: hidden;
}
.c4d2 .pape img {
  width: 100%;
  object-fit: cover;
}
.c4d3 {
  width: 47.975rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c4d3 .wseoul {
  width: 100%;
  height: 17.3rem;
  padding: 6.5rem 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c4d3 .wseoul .address {
  width: 24.9rem;
  height: 3.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
  text-align: left;
}
.c4d3 .wseoul .call {
  width: 20rem;
  height: 5.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: left;
}
.c4d3 .help {
  width: 100%;
  height: 51.783rem;
  padding: 6.5rem 4rem 31.1828rem 4rem;
  border-top: 0.1rem solid white;
}
.c4d3 .help .help2 {
  width: 28.4rem;
  height: 14rem;
}
.c4d3 .help .help2 h5 {
  width: 100%;
  height: 6.4rem;
}
.c4d3 .help .help2 a {
  width: 18.094rem;
  height: 4.1rem;
  padding: 1.1rem 5.5rem;
  border: 0.1rem solid #fff;
  margin-top: 3.5rem;
}
.content5 {
  width: 100%;
  height: 6.4rem;
  border: 0.1rem solid #fff;
}
.content5 .marquee span {
  display: inline-block;
  color: #000;
  list-style: none;
  font-size: 5.2rem;
  font-weight: 600;
  letter-spacing: -0.26rem;
  line-height: 5.2rem;
  text-align: start;
  vertical-align: baseline;
}
.content5 .marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  padding-top:0.5rem;
}
.content6 {
  width: 100%;
  height: 30.3rem;
  padding: 2.8rem 4rem 0;
  margin-top: 6rem;
}
.content6 > img {
  width: 71.8rem;
  height: 27.5rem;
}
footer {
  position:relative;
  width: 100%;
  height: 17rem;
  padding: 0 4rem 2.1rem;
}
footer > .fx {
  width: 100%;
  height: 100%;
}
footer > .fx > .fd1 {
  width: 42.3062rem;
  height: 100%;
}
.fd11{
  font-size:2rem;
}
.fd12{
  font-size:1.7rem;

}
.fd12>p{
  color:#5c5c5c;
}
footer > .fx > .fd2 {
  width: 42.3078rem;
  height: 100%;
}
footer .fd2>div{
  border:1px solid #fff;
  text-align:center;
  border-radius:1rem;
  padding-top:0.2rem;
}
footer > .fx > .fd3 {
  width: 91.3844rem;
  height: 100%;
}
.fd11 {
  margin-top: 6.5rem;
  width: 100%;
  height: 2.7rem;
  margin-bottom: 1rem;
}
.fd12 {
  width: 100%;
  height: 2.7rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.fd2 {
  padding-top: 7.5rem;
}
.fd21 {
  width: 7.8rem;
  height: 2.1rem;
  margin: 0 0.3rem 1rem 0.3rem;
}
.fd2 span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.fd22 {
  width: 11.658rem;
  height: 2.1rem;
  margin: 0 0.3rem 1rem 0.3rem;
}
.fd23 {
  width: 10.3422rem;
  height: 2.1rem;
  margin: 0 0.3rem 1rem 0.3rem;
}
.fd3 {
  padding-bottom: 4.1rem;
}
.fd3{
  width: 62.6rem;
  height: 100%;
}
.fd3 > span:nth-of-type(1) {
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: -0.054rem;
  line-height: 3.2rem;
}
.fd3 > span:nth-of-type(2){
  display:block;
  margin-top: 1.6rem;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: -0.054rem;
  border:2px solid #fff;
  width:50rem;
  padding:1.5rem 2.5rem;
  
  border-radius: 3rem;
}
.fd3 button {
  width: 6.6rem;
  height: 6.6rem;
  border: 0.1rem solid white;
  margin-left: 0.7rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
}
.top_btn {
  position: fixed;
  border-radius: 50%;
  background: url(../img/back-to-top.png);
  bottom: 14.6rem;
  right: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  width: 6.8rem;
  height: 6.8rem;
  transition: opacity 0.3s;
  z-index: 100;
  opacity:0;
  text-align:center;
  line-height:6.8rem;
}
.top_btn.on{
    opacity:1;
}
.top_btn>i{
    color:#000;
}
.swiper_button_next{
  background-color: white;
}
.validation{
  position:absolute;
  bottom:0;
  right:0;
}
.validation>a:nth-of-type(1)>img{
  height:4rem;
}
.validation>a:nth-of-type(2)>img{
  height:4rem;
}